<p id="notice"><%= notice %></p>

<h1>Forums</h1>

<div class="row">
  <div class="col-lg-12">
    <table class="table">
      <tbody>
        <% @forums.each do |forum| %>
          <tr class="forum-rows" data-link="<%= forum_path(forum) %>">
            <td><%= forum.name %></td>
            <td><%= forum.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<%= link_to 'New Forum', new_forum_path %>
