<% if @forum.user == current_user %>
  <%= link_to 'Forum Control Panel', edit_forum_path(@forum) %>
<% end %>
<br>

<%= link_to "Add post", new_forum_post_path(@forum), class: "btn btn-primary" %> <%= link_to 'Back', root_path, class: "btn btn-primary" %>

<div class="well">
  <p>
    <strong>Name:</strong>
    <%= @forum.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @forum.description %>
  </p>
</div>

<% if @forum.posts.any? %>
  <p>
    <strong>Posts:</strong>
    <% @forum.posts.each do |p| %>
      <ul>
        <li><%= link_to p.title, forum_post_path(p) %></li>
      </ul>
    <% end %>
  </p>
<% else %>
  <p>There are no posts yet.</p>
<% end %>

<%= link_to "Hot forums", root_path %>